<div class="container">
<h1>Listados de entregas</h1>
    <div class="card status-g">
        <div class="info ruta">
        <h3>Ruta</h3> 
        <h2>Creada</h2>
        </div>
        <div class="info conductor">
            <h3>conductor</h3> 
            <h2>Creada</h2>

            </div>
        <div class="info creada">
            <h3>Creada</h3> 
            <h2>Creada</h2>
        </div>
        <div class="info ruta">
            <h3>Ruta</h3> 
            <h2>Creada</h2>

        </div>
        <div class="info inicio">
            <h3>Inicio</h3> 
            <h2>Creada</h2>
        </div>
        <div class="info termino">
            <h3>Termino</h3> 
            <h2>Creada</h2>

        </div>                          
        <div class="info entregas">
            <h3>Entregas</h3> 
            <h2 class="status_active">En ruta</h2>
        </div>                                                                
    </div>
    <div class="card status-b">
            <div class="info ruta">
            <h3>Ruta</h3> 
            <h2>Creada</h2>
            </div>
            <div class="info conductor">
                <h3>conductor</h3> 
                <h2>Creada</h2>
    
                </div>
            <div class="info creada">
                <h3>Creada</h3> 
                <h2>Creada</h2>
            </div>
            <div class="info ruta">
                <h3>Ruta</h3> 
                <h2>Creada</h2>
    
            </div>
            <div class="info inicio">
                <h3>Inicio</h3> 
                <h2>Creada</h2>
            </div>
            <div class="info termino">
                <h3>Termino</h3> 
                <h2>Creada</h2>
    
            </div>                          
            <div class="info entregas">
                <h3>{{hola}}</h3> 
                <h2 class="status_finished">Completada</h2>
            </div>                                                                
        </div>    
</div>